# requirements
py2app ; sys_platform == 'darwin'
pip-tools

pyobjc-framework-Cocoa ; sys_platform == 'darwin'
pyobjc-framework-ExceptionHandling ; sys_platform == 'darwin'
pyobjc-framework-UserNotifications ; sys_platform == 'darwin'
pyobjc-framework-CFNetwork ; sys_platform == 'darwin'

twisted[tls,http2]
mypy
mypy-zope
python-dateutil
types-python-dateutil
ulid-py
quickmacapp ; sys_platform == 'darwin'
quickmachotkey ; sys_platform == 'darwin'
encrust
datetype
fritter
setuptools<71.0.0
